<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header th:replace="fragments/header.html"></header>

<body>
    <div>

        <form class="needs-validation" th:action="@{/test/pwPopup}" method="post" th:object="${pwForm}">
            <input class="form-control" type="hidden" th:field="*{id}">
            <div>
                비밀번호 : <input type='password' th:field="*{PasswordFiled}" />
            </div>


            <div>
                <button type="submit" class="btn btn-secondary btn-lg">확인</button>
                <button type="button" class="btn btn-secondary btn-lg" onclick="history.go(-1)">취소</button>
            </div>

        </form>

    </div>

    <footer th:replace="fragments/cm_bottom.html :: foot()"></footer>
</body>

</html>