<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <form> 
        <input class="form-control" type="hidden" th:field="*{id}">     
        비밀번호 : <input id='pwd' type='password'/>
        <button class="btn btn-primary btn-lg btn-block" type="submit">입력</button>
        <button class="btn btn-danger btn-lg btn-block" type="button" onclick="href='/consult/consult-list'">취소</button>
      </form>
      
      
    </div>

   
    

</body>
</html>