<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세보기</title>
</head>

<header th:replace="fragments/cm_top.html :: head('상담')"></header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>
    <div class="container">
        <form th:action="@{/test/board-add}" th:object="${boardForm}" class="needs-validation" method="post">
            <hr class="my-4">
            <h4 class="mb-5">상세보기</h4>
            <input class="form-control" type="hidden" th:field="*{id}">

            <div class="row mb-3">
                <label for="TitleField" class="form-label">글 제목</label>
                <input class="form-control" type="text" name="" id="" th:field="*{TitleField}" disabled>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('TitleField')}"
                    th:errors="*{TitleField}">Title error</small>

                <label for="useridField" class="form-label">작성자</label>
                <input class="form-control" type="text" name="" id="" th:field="*{useridField}" disabled>
            </div>

            <div class="row mb-3">
                <label for="TextField" class="form-label">내용</label>
                <textarea th:field="*{TextField}" class="form-control" rows="10" disabled></textarea>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('TextField')}"
                    th:errors="*{TextField}">Text error</small>
            </div>


            <input id="pwf" type="hidden" th:field="*{PasswordField}">

            <div class="col-12">
                <button class="btn btn-success btn-lg btn-block" type="button" onclick="form_update();">수정</button>
                <button class="btn btn-danger btn-lg btn-block" type="button" onclick="form_del();">삭제</button>
                <button class="btn btn-primary btn-lg btn-block" type="button" onclick="form_list();">목록</button>
            </div>
        </form>
    </div>

</body>

</html>


<script>
    function form_update() {
        if (confirm("수정 하시겠습니까?")) {
            var password = prompt("비밀번호 입력");
            if(document.getElementById("pwf").value == password){
                location.href = "/test/board-add?id=" + $("#id").val();
            } else{
                location.href = "/test/detail-board?id=" + $("#id").val();
            }
        }
    }

    function form_list() {
        location.href = "/test/list";
    }


    function form_del() {
        if (confirm("삭제 하시겠습니까?")) {
            location.href = "/test/pwPopup?id=" + $("#id").val();
        }
    }
</script>