<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세보기</title>
</head>

<header th:replace="fragments/cm_top.html :: head('상담')"></header>

<body>
    <form th:action="@{/test/board-add}" th:object="${boardForm}" class="needs-validation" method="post">
        <input class="form-control" type="hidden" th:field="*{id}">
        <div>
            <h4>글 제목</h4>
            <input type="text" name="" id="" th:field="*{TitleField}" disabled>
            <small th:if="${#fields.hasErrors('TitleField')}" th:errors="*{TitleField}"></small>
        </div>

        <div>
            <span>작성자 : </span>
            <input type="text" name="" id="" th:field="*{useridField}" disabled>
            <small th:if="${#fields.hasErrors('useridField')}" th:errors="*{useridField}"></small>
        </div>

        <div>
            <h6>내용</h6>
            <textarea th:field="*{TextField}" disabled></textarea>
            <small th:if="${#fields.hasErrors('TextField')}" th:errors="*{TextField}"></small>
        </div>

        <div>
            <input type="button" onclick="location.href='/test/board-add?id='" value="수정">
            <input type="button" onclick="location.href='/test/board-delete?id='" value="삭제">
            <input type="button" onclick="location.href='/test/list'" value="목록">
        </div>
    </form>
</body>

</html>