<!DOCTYPE html>
<html lang="ko">

<head>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계정 업데이트</title>
</head>
<header th:replace="fragments/header.html"></header>

<body>
    <div class="container">
        <hr class="my-4">
        <form class="row g-3" th:action="@{/account/update}" method="get">
            <div>
                <label for="userid">아이디 검색</label>
                <input type="text" id="userid" placeholder="아이디를 입력하세요!" name="userid" required th:value="${userid}">
            </div>
            <div>
                <button type="submit" class="btn btn-primary mb-3">검색</button>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <th>항목</th>
                <th>내용</th>
            </thead>

            <tbody>
                <tr>
                    <td>아이디</td>
                    <td id="userid" th:text="${userid} ? ${userid} : '-' ">admin</td>
                </tr>
                <tr th:if="${auth != null } ">
                    <td>보유권한</td>
                    <td>
                        <span th:each=" role: ${auth}">
                            <span th:text="${role.authority}"></span> 
                        </span>
                    </td>
                </tr>

                <tr th:if="${allAuth != null } ">
                    <td>권한 종류</td>
                    <td>
                        <span th:each=" role: ${allAuth}">
                            <input type="checkbox" th:text="${role.authority}" th:value="${role.id}" name="auth">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <input type="hidden" id="search_userid" th:value="${userid}">
        

        <button type="button" class="btn btn-success" th:classappend="${auth} == null ? 'disabled' : '' " onclick="btn_click();">권한 수정하기</button>
    </div>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script>
    function btn_click() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var chkArray = [];
        const userid = document.getElementById("userid").value;

        $("input[name='auth']:checked").each(function () {
            var tmpVal = $(this).val();
            chkArray.push(tmpVal)
        });

        $.ajax({
            type: "post",
            contentType: 'application/json',
            url: '/account/update?userid=' + userid,
            data: JSON.stringify(chkArray),
            dataType: "json",
            //header에 spring security csrf값 추가해서 보내줘야
            //403 error가 안뜸
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (data) {
                console.log(data);
                alert('권한이 수정되었습니다!');
            },
            error: function (e) {
                console.log("error" + data);
            }
        });
        
    }

    function terms_changed(termsCheckBox) {
        //If the checkbox has been checked
        if (termsCheckBox.checked) {
            //Set the disabled property to FALSE and enable the button.
            document.getElementById("submit_button").disabled = false;
        } else {
            //Otherwise, disable the submit button.
            document.getElementById("submit_button").disabled = true;
        }
    }
</script>