<!DOCTYPE html>
<html lang="ko">

<head>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계정 업데이트</title>
</head>
<header th:replace="fragments/header.html"></header>

<body>
    <div class="container">
        <hr class="my-4">
        <h2>계정 권한 업데이트</h2>
        <h3>현재 계정 권한 종류</h3>
        <span sec:authentication="principal.authorities"></span>
        <div>
            <div class="row mb-3" >
                <label><input type="checkbox" id="check_box1" name="auth" value="1"> 임시사용자</label>
                <label><input type="checkbox" id="check_box2" name="auth" value="2"> 인증사용자</label>
                <label><input type="checkbox" id="check_box3" name="auth" value="3"> 관리자</label>
            </div>

            <button id="submit_button" onclick="btn_click();" disabled>저장</button>
        </div>
    </div>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script>
    function btn_click() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var chkArray = [];
        var i = 0;

        $("input[name='auth']:checked").each(function () {
            var tmpVal = $(this).val();
            chkArray.push(tmpVal)
        });

        $.ajax({
            url: '/account/update',
            type: "post",
            traditional: true,
            data: { "arr[]": chkArray },
            dataType: "json",
            //header에 spring security csrf값 추가해서 보내줘야
            //403 error가 안뜸
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (data) {
            }
        });
    }
/*
    //버튼 활성 비활성 함수
    function terms_changed() {
        
        if () {
            //버튼 활성화
            document.getElementById("submit_button").disabled = false;
        } else {
            //버튼 비활성화
            document.getElementById("submit_button").disabled = true;
        }
    }*/
</script>