<!DOCTYPE html>
<html lang="ko" xmlns="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test3</title>
</head>
<body>
    <h1>Test3.page</h1>
    
    <tr th:each = "thymeleafEntity : ${thymeleafEntity}">
        <td th:text="${thymeleafEntity.id}"></td>
        <td th:text="${thymeleafEntity.title}"></td>
        <td th:text="${thymeleafEntity.name}"></td>
        <td th:text="${thymeleafEntity.created}"></td>
    </tr>
</body>
</html>