<!DOCTYPE html>
<html lang="ko" xmlns="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test2</title>
</head>

<body>
    <h1>Test2.page</h1>

    <span>입력받은 값은 : </span>
    <span th:text="${thymeleafparam1}">computer</span>

    <form action='#' th:action="@{test3}" th:object="${testEntity}" method="post">
        <span>id</span>
        <input type="number" name="id" th:field="*{id}" placeholder="id">
        
        <span>title</span>
        <input type="text" th:field="*{title}" placeholder="title">

        <span>name</span>
        <input type="text" th:field="*{name}" placeholder="name">

        <span>created</span>
        <input type="text" th:field="*{created}" placeholder="created">

        <button type="submit">입력</button>
    </form>
</body>

</html>